.Dialog__messages{
    display: flex;
    flex-direction: column;
}
.Dialog__mini-ava {
    height: 75px;
    border-radius: 10px;
    margin: 0;
}
.Dialog__user{
    background-color: #141938;
    border-radius: 15px;
    /*border: 3px,solid,black;*/
    margin: 20px;
}
.Dialog__text{
    font-family: 'Lato', sans-serif;
    color: white;
    margin: 20px;
    font-size: 14px;
}
.Dialog__send{
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 14px;
    color:#141938 ;
}
