.Nav{
    grid-column: 1;
    background-color: #464F79;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}
.Nav-said_i{
    text-align: center;
    margin: 15px;
    color: white;
    font-size: 27px;
    text-decoration: none;
    font-family: 'Bakbak One', cursive;
}